<ion-header>
  <ion-toolbar>
    <ion-title>Loan Payments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating" >Loan Account Number</ion-label>
      <ion-input [(ngModel)]="laccno"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Loan IFSC</ion-label>
      <ion-input [(ngModel)]="ifsc"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Amount</ion-label>
      <ion-input [(ngModel)]="amt"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Branch IFSC</ion-label>
      <ion-input [(ngModel)]="bifsc"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="loanpay()" >Pay Loan</ion-button>
    </ion-item>
  </ion-card>
</ion-content>